@import "./style.css";

#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --foreground: #0f0f0f;
  --background: #fafafa;
  --font: sans-serif;
  --r-height: 1200px;
  --r-width: 1920px;
  --bg-gradient: linear-gradient(to top right,
      var(--secondary),
      var(--primary));

  /* Reveal MDX global variables */
  --slide-margin: 1rem;
  /* --title-background: linear-gradient(to right, */
  /*     var(--primary-600), */
  /*     var(--primary-300)); */
  --title-background: transparent;
  --title-color: black;
  --subtitle-color: var(--gray);
  --title-bar-height: 3rem;
}

html {
  font-size: 22pt;
}

body {
  font-family: var(--font), Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* -------------- */
/* Reveal styling */
/* -------------- */

.reveal .slide-background {
  background-color: var(--background);
}

.reveal .has-dark-background {
  --background: #0a0a0a;
  --foreground: #e2e2e2;
  color: var(--foreground);
  --title-color: var(--foreground);
  --subtitle-color: var(--foreground);

  [data-slide-title] {
    &::after {
      all: unset;
      content: "";
      @apply absolute bottom-0 left-0 right-0 h-px;
      @apply bg-foreground/50;
    }
  }

  .header {
    @apply invert;
  }
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .no-margin {
    margin: 0 calc(-1 * var(--slide-margin));
  }

  .slide-padding {
    padding: var(--slide-margin);
  }

  .h-inherit {
    height: inherit;
  }
}

@layer base {

  /* Reverts a preflight rule on hidden that breaks some reveal.js */
  [hidden] {
    display: revert !important;
  }

  blockquote {
    @apply bg-highlight border-l-8 border-highlight px-4 my-4 rounded;
  }

  img {
    @apply max-w-full max-h-full m-0;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold;
    @apply mb-2;
  }

  h1 {
    @apply text-primary font-bold text-3xl;
  }

  h2 {
    @apply text-2xl text-primary;
  }

  h3 {
    @apply text-xl text-primary-500;
  }

  h4 {
    @apply text-xl text-primary-400;
  }

  /* Lists */
  ul,
  ol {
    @apply list-inside leading-normal text-left;
  }

  ul li {
    @apply list-disc marker:text-gray-400;
  }

  p {
    @apply leading-normal;
  }

  ol {
    list-style: decimal;
  }

  ref {
    @apply text-foreground/40 align-super text-xs;
  }

  hl {
    @apply text-primary underline italic;
  }

  .highlight {
    @apply text-primary underline italic;
  }

  hr {
    @apply bg-gray-400 my-2 h-[1px] w-full;
  }

  /* -------------- */
  /* Slide title  */
  /* -------------- */
  [data-slide-title] {
    @apply fixed z-10 pb-1 h-[var(--title-bar-height)] px-[var(--slide-margin)] w-full flex items-center leading-none;

    &>div {
      @apply flex items-baseline mt-1;

      &:has(> :nth-child(2))> :first-child {
        @apply opacity-50;
      }

      &>*:not(:last-child)::after {
        @apply content-['/'] mx-2;
      }
    }

    h1 {
      @apply normal-case text-lg font-normal;
      color: var(--title-color);
    }

    h2 {
      @apply relative mt-0 text-lg normal-case font-normal;
      color: var(--subtitle-color);
    }

    &::after {
      @apply shadow-md;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0px;
      left: calc(50% - max(50vw, calc(var(--r-width) / 2)));
      right: calc(50% - max(50vw, calc(var(--r-width) / 2)));
      z-index: -1;
      background: var(--title-background);
    }
  }
}

.latex-left {
  .katex-display {
    text-align: left !important;

    .katex {
      display: inline-block;
    }
  }
}

.slides-border::before {
  position: absolute;
  inset: 0;
  content: "";
  border: 2px dashed var(--foreground);
  z-index: 10;
}

/* Slide layouts */
[data-slide-content] {
  @apply flex flex-col gap-2 justify-center items-center;
  position: absolute;
  top: calc(var(--title-bar-height) + var(--slide-margin));
  left: var(--slide-margin);
  right: var(--slide-margin);
  bottom: var(--slide-margin);

  /* p { */
  /*   height: inherit; */
  /* } */
}

[data-slide-layout="full"] {
  @apply justify-center items-center;

  &[data-slide-content] {
    top: var(--slide-margin);
  }
}

[data-slide-layout="default"] {
  @apply justify-normal;
}

[data-slide-layout="center"] {
  @apply justify-center -mt-[var(--title-bar-height)];
}

[data-slide-layout="center2"] {
  @apply justify-center;
}

[data-slide-layout="left"] {
  @apply justify-start items-start text-left;
}

.reference-container {
  @apply absolute left-0 bottom-0 text-foreground/40 text-xs;

  li {
    @apply leading-tight;
  }
}

.hero {
  @apply text-white;

  hl {
    @apply text-white;
  }
}

/* Headings */
/* ---------------- */
/* FRAGMENT STYLING */
/* ---------------- */
.fragment.appear {
  transition: none !important;
}

.fragment.from-hidden {
  display: none;

  &.visible {
    display: block;
  }
}

span.fragment.word-highlight {
  display: inline-block;
}

.fragment.word-highlight.visible {
  font-size: 1.4em;
  animation: highlight 0.4s ease-in-out forwards;
}

@keyframes highlight {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

.fragment.fragment-zoom {
  display: none;
  scale: 1;
  animation: zoomout 0.1s ease-out;
}

.fragment.fragment-zoom.visible {
  display: block;
}

@keyframes zoomout {
  0% {
    scale: 3;
  }

  100% {
    scale: 1;
  }
}

.fragment.fragment-hidden {
  display: none;
  transition: all 0.4s ease-in-out;
}

.fragment.fragment-hidden.visible {
  display: none;
}

/* -------------- */
/* Code styling   */
/* -------------- */
pre {
  @apply text-left px-0 rounded-md m-0 py-2 w-full shadow z-[-1];
}

code {
  @apply text-sm !leading-loose;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers]>[data-line]::before {
  counter-increment: line;
  content: counter(line);

  @apply inline-block w-4 mr-4 text-right text-gray-500;
}

pre [data-line] {
  @apply px-6 border-l-2 border-l-transparent;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply bg-zinc-600/50 border-b-zinc-400 font-bold rounded;
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] {
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id="v"] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id="s"] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id="i"] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

[data-rehype-pretty-code-title] {
  @apply bg-zinc-700 text-zinc-200 rounded-t-md py-2 pl-3 text-xs text-left;
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title]) pre {
  @apply !rounded-t-none;
}

figure {
  @apply mb-6 mt-1;
}

pre,
code,
figure {
  @apply overflow-x-auto;
}
