@import "tailwindcss";
@import "./style.css";
@import "./admonition.css";
@import "./layouts.css";

@source "../dist/components/**/*.js";

#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --r-height: 1200px;
  --r-width: 1920px;

  /* CSS variables */
  --rv-foreground: #0f0f0f;
  --rv-background: #fafafa;
  --rv-font: Helvetica, Arial, sans-serif;
  --rv-font-size: 24pt;
  --rv-content-margin: 1rem;
  --rv-title-background: transparent;
  --rv-title-color: var(--rv-foreground);
  --rv-subtitle-color: var(--rv-foreground);
  --rv-title-bar-height: 3em;
}

:root .dark {
  --rv-background: #1a191f;
  --rv-foreground: #e2e2e2;
  --rv-title-color: var(--rv-foreground);
  --rv-subtitle-color: var(--rv-foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .no-margin {
    padding-left: 0;
    padding-right: 0;
  }

  .no-margin-y {
    padding-top: 0;
    padding-bottom: 0;
  }

  .slide-padding {
    padding: var(--rv-content-margin);
  }

  .h-inherit {
    height: inherit;
  }
}

html {
  font-size: var(--rv-font-size, 24pt);
}

body {
  font-family: var(--rv-font), Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.reveal .slide-background {
  background-color: var(--rv-background);
}

.reveal .has-dark-background,
.reveal .dark {
  [data-slide-title] {
    &::after {
      content: "";
      @apply absolute bottom-0 left-0 right-0;
      @apply h-full bg-foreground/5;
    }
  }

  .header {
    @apply invert;
  }
}

@layer base {
  :root {
    text-underline-offset: 8px;
  }

  /* Reverts a preflight rule on hidden that breaks some reveal.js */
  [hidden] {
    display: revert !important;
  }

  section {
    color: var(--rv-foreground);
  }

  blockquote {
    @apply bg-muted border-l-8 border-highlight px-4 py-1 my-4 rounded;
  }

  img {
    @apply max-w-full max-h-full m-0;
  }

  h1 {
    @apply font-semibold text-primary text-2xl;
    @apply mb-2;
  }

  h2 {
    @apply text-xl text-secondary font-semibold;
    @apply mb-2;
  }

  h3 {
    @apply text-lg text-secondary font-semibold italic;
    @apply mb-2;
  }

  h4 {
    @apply text-lg text-muted-foreground font-semibold italic;
    @apply mb-2;
  }

  /* Lists */
  ul,
  ol {
    @apply leading-normal space-y-1 text-left;
  }

  /* makes sure that the list numbers/disks are not cut off */
  [data-slide-content] {

    ul,
    ol {
      @apply ml-6 my-2;
    }
  }

  ul li {
    @apply list-disc marker:text-foreground/50;
  }

  ol li {
    @apply list-decimal marker:text-foreground/50;
  }

  p {
    @apply leading-normal;
  }

  ref {
    @apply text-foreground/40 align-super text-xs;
  }

  hl {
    @apply text-primary underline italic;
  }

  .highlight {
    @apply text-primary underline italic;
  }

  hr {
    @apply bg-gray-400 my-2 h-px w-full;
  }
}

.latex-left {
  .katex-display {
    text-align: left !important;

    .katex {
      display: inline-block;
    }
  }
}

.slides-border::before {
  position: absolute;
  inset: 0;
  content: "";
  border: 2px dashed var(--rv-foreground);
  z-index: 50;
}

.reference-container {
  @apply absolute left-0 bottom-0 text-foreground/40 text-xs;

  li {
    @apply leading-tight;
  }
}

.overlay {
  @apply z-20;
}

.conclusion-overlay {
  @apply flex justify-center bg-secondary-200 p-3 px-6 rounded-md shadow-lg;
}

/* Headings */
/* ---------------- */
/* FRAGMENT STYLING */
/* ---------------- */
.fragment.appear {
  transition: none !important;
}

.fragment.from-hidden {
  display: none;

  &.visible {
    display: block;
  }
}

span.fragment.word-highlight {
  display: inline-block;
}

.fragment.word-highlight.visible {
  font-size: 1.4em;
  animation: highlight 0.4s ease-in-out forwards;
}

@keyframes highlight {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

.fragment.fragment-zoom {
  display: none;
  scale: 1;
  animation: zoomout 0.1s ease-out;
}

.fragment.fragment-zoom.visible {
  display: block;
}

@keyframes zoomout {
  0% {
    scale: 3;
  }

  100% {
    scale: 1;
  }
}

.fragment.fragment-hidden {
  display: none;
  transition: all 0.4s ease-in-out;
}

.fragment.fragment-hidden.visible {
  display: none;
}

/* -------------- */
/* Code styling   */
/* -------------- */
pre {
  @apply text-left px-0 m-0 py-2 w-full shadow z-[-1];
}

code {
  @apply text-sm;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers]>[data-line]::before {
  counter-increment: line;
  content: counter(line);

  @apply inline-block w-4 mr-4 text-right text-gray-500;
}

pre [data-line] {
  @apply px-6 border-l-2 border-l-transparent;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply bg-zinc-600/50 border-b-zinc-400 font-bold rounded;
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] {
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id="v"] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id="s"] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id="i"] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

[data-rehype-pretty-code-title] {
  @apply bg-zinc-700 text-zinc-200 rounded-t-md py-2 pl-3 text-xs text-left;
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title]) pre {
  @apply !rounded-t-none;
}

figure[data-rehype-pretty-code-figure] {
  @apply mb-6 mt-1;
}

pre,
code,
figure[data-rehype-pretty-code-figure] {
  @apply overflow-x-auto;
}
