:root {
  --rv-primary: #1a191f;
  --rv-secondary: #7b7f8a;
  --rv-accent: #4d7dbf;
}

.dark {
  --rv-primary: #e2e2e2;
  --rv-secondary: #666a74;
  --rv-accent: #4d7dbf;
}

@theme inline {
  --color-primary: var(--rv-primary);
  --color-secondary: var(--rv-secondary);
  --color-accent: var(--rv-accent);
}

@theme {
  --color-foreground: #000000;
  --color-background: #e2e2e2;
  --color-highlight: #d3deef;
  --color-highlight-dark: #08407e;

  --color-primary-50: #f6f6f9;
  --color-primary-100: #eeedf1;
  --color-primary-200: #d8d7e0;
  --color-primary-300: #b5b4c5;
  --color-primary-400: #8d8ba5;
  --color-primary-500: #6f6d8a;
  --color-primary-600: #5a5772;
  --color-primary-700: #4a475d;
  --color-primary-800: #3f3e4e;
  --color-primary-900: #383644;
  --color-primary-950: #1a191f;

  --color-secondary-50: #f5f5f6;
  --color-secondary-100: #e5e6e8;
  --color-secondary-200: #cdcfd4;
  --color-secondary-300: #abaeb5;
  --color-secondary-400: #7b7f8a;
  --color-secondary-500: #666a74;
  --color-secondary-600: #575a63;
  --color-secondary-700: #4a4c54;
  --color-secondary-800: #424348;
  --color-secondary-900: #3a3b3f;
  --color-secondary-950: #242528;

  --color-accent-50: #f2f7fc;
  --color-accent-100: #e3edf6;
  --color-accent-200: #cde1f0;
  --color-accent-300: #aacce6;
  --color-accent-400: #81b1d9;
  --color-accent-500: #6497cd;
  --color-accent-600: #4d7dbf;
  --color-accent-700: #466caf;
  --color-accent-800: #3d5a90;
  --color-accent-900: #354c73;
  --color-accent-950: #243047;
}

@theme inline {
  --margin-content: var(--rv-content-margin);
  --padding-content: var(--rv-content-margin);

  --color-foreground: var(--rv-foreground);
  --color-background: var(--rv-background);
  --color-muted: color-mix(
    in oklab,
    var(--rv-primary),
    var(--rv-background) 90%
  );
  --color-muted-foreground: color-mix(
    in oklab,
    var(--rv-primary),
    var(--rv-background) 70%
  );

  --color-title: var(--rv-title-color);
  --color-subtitle: var(--rv-subtitle-color);
}
